# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.idea/
.vscode/
*.swp
*.swo
.history

# Model files
models/lid.176.bin
